REACT_APP_WORDPRESS_URL=http://localhost/rich/rich_wordpress
REACT_APP_WC_CONSUMER_KEY=your_consumer_key_here
REACT_APP_WC_CONSUMER_SECRET=your_consumer_secret_here
REACT_APP_API_URL=http://localhost/rich/rich_wordpress/wp-json/wc/v3
